:root {
  --d-yellow-color: #F7E064;
  --d-bg-color:  #282c35;
  --d-text-color: hsla(0,0%,100%,0.88);
  --d-header-underline-color: #FFAA55;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-transform: capitalize;
}
